<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Snake.SnakeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Snake.SnakeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
      <Snake.SnakeSettings>
          <setting name="open_sum" serializeAs="String">
              <value>0</value>
          </setting>
          <setting name="Save_text" serializeAs="String">
              <value />
          </setting>
      </Snake.SnakeSettings>
  </userSettings>
  <applicationSettings>
      <Snake.SnakeSettings>
          <setting name="Version" serializeAs="String">
              <value>0.0.7.0</value>
          </setting>
      </Snake.SnakeSettings>
  </applicationSettings>
  
  <appSettings>
    <add key="MapWidth" value="10"/>
    <add key="MapHeight" value="10"/>
    <add key="ControlsUp" value="87"/>
    <add key="ControlsDown" value="83"/>
    <add key="ControlsLeft" value="65" />
    <add key="ControlsRight" value="68"/>

    <add key="AudioMusic" value="1"/>
  </appSettings>
</configuration>